Загрузить данные из файла “ECDCCases.csv”.

In [51]:
import numpy as np
import pandas as pd


read = pd.read_csv('ECDCCases.csv')

df = pd.DataFrame(read)

df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
...,...,...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

Проверить в данных наличие пропущенных значений. Вывести количество пропущенных значений в процентах. Удалить два признака, в которых больше всех пропущенных значений. Для оставшихся признаков обработать пропуски: для категориального признака использовать заполнение значением по умолчанию (например, «other»), для числового признака использовать заполнение медианным значением. Показать, что пропусков больше в данных нет.

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61904 entries, 0 to 61903
Data columns (total 12 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   dateRep                                                     61904 non-null  object
 1   day                                                         61904 non-null  int64
 2   month                                                       61904 non-null  int64
 3   year                                                        61904 non-null  int64
 4   cases                                                       61904 non-null  int64
 5   deaths                                                      61904 non-null  int64
 6   countriesAndTerritories                                     61904 non-null  object
 7   geoId                                                       61629 non-null  object
 8   countryterritoryCode                                        61781 non-null  object
 9   popData2019                                                 61781 non-null  float64
 10  continentExp                                                61904 non-null  object
 11  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000  59025 non-null  float64
dtypes: float64(2), int64(5), object(5)
memory usage: 5.7+ MB

In [53]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df

,column_name,percent_missing
dateRep,dateRep,0.000000
day,day,0.000000
month,month,0.000000
year,year,0.000000
cases,cases,0.000000
deaths,deaths,0.000000
countriesAndTerritories,countriesAndTerritories,0.000000
geoId,geoId,0.444236
countryterritoryCode,countryterritoryCode,0.198695
popData2019,popData2019,0.198695
continentExp,continentExp,0.000000
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,Cumulative_number_for_14_days_of_COVID-19_case...,4.650750

In [54]:
df = df.drop(columns=['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', 'geoId', 'popData2019'])
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,Asia
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,Asia
4,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,Asia
...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,Africa
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,Africa
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,Africa
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,Africa
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,Africa

In [55]:
df['countryterritoryCode'] = df['countryterritoryCode'].replace(np.nan, 'other')

df.isna().sum()

dateRep                    0
day                        0
month                      0
year                       0
cases                      0
deaths                     0
countriesAndTerritories    0
countryterritoryCode       0
continentExp               0
dtype: int64

Посмотреть статистику по данным, используя describe(). Сделать выводы о том, какие признаки содержат выбросы. Посмотреть, для каких стран количество смертей в день превысило 3000 и сколько таких дней было.

In [56]:
df.describe()

                day         month          year          cases        deaths
count  61904.000000  61904.000000  61904.000000   61904.000000  61904.000000
mean      15.629232      7.067104   2019.998918    1155.079026     26.053987
std        8.841624      2.954816      0.032881    6779.010824    131.222948
min        1.000000      1.000000   2019.000000   -8261.000000  -1918.000000
25%        8.000000      5.000000   2020.000000       0.000000      0.000000
50%       15.000000      7.000000   2020.000000      15.000000      0.000000
75%       23.000000     10.000000   2020.000000     273.000000      4.000000
max       31.000000     12.000000   2020.000000  234633.000000   4928.000000

In [57]:
df['deaths'].loc[lambda x : x > 3000]

2118     3351
16908    3800
37038    3013
44888    3935
44909    3887
59007    3343
59009    3124
59016    3190
59239    3179
59245    3770
59247    4928
Name: deaths, dtype: int64

Найти дублирование данных. Удалить дубликаты.

In [58]:
df.drop_duplicates()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,Asia
4,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,Asia
5,10/12/2020,10,12,2020,202,16,Afghanistan,AFG,Asia
...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,Africa
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,Africa
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,Africa
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,Africa
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,Africa

Загрузить данные из файла “ bmi.csv”. Взять оттуда две выборки. Одна выборка – это индекс массы тела людей c региона northwest, вторая выборка – это индекс массы тела людей с региона southwest. Сравнить средние значения этих выборок, используя t-критерий Стьюдента. Предварительно проверить выборки на нормальность (критерий Шопиро-Уилка) и на гомогенность дисперсии (критерий Бартлетта).

In [59]:
read = pd.read_csv('bmi.csv')

bmi = pd.DataFrame(read)

bmi

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
645  20.600  southwest
646  38.600  southwest
647  33.400  southwest
648  44.700  southwest
649  25.800  southwest

[650 rows x 2 columns]

In [60]:
sw = bmi[bmi['region'] == 'southwest']
sw

      bmi     region
325  27.9  southwest
326  34.4  southwest
327  24.6  southwest
328  40.3  southwest
329  35.3  southwest
..    ...        ...
645  20.6  southwest
646  38.6  southwest
647  33.4  southwest
648  44.7  southwest
649  25.8  southwest

[325 rows x 2 columns]

In [61]:
nw = bmi[bmi['region'] == 'northwest']
nw

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
320  26.315  northwest
321  31.065  northwest
322  25.935  northwest
323  30.970  northwest
324  29.070  northwest

[325 rows x 2 columns]

In [62]:
import scipy.stats as sts
res1 = sts.shapiro(sw['bmi'])
res2 = sts.shapiro(nw['bmi'])

print('проверка на нормальность пройдена') if res1[1] > 0.05 and res2[1] > 0.05 else print('проверка на нормальность не пройдена')

проверка на нормальность пройдена

In [63]:
res = sts.bartlett(sw['bmi'], nw['bmi'])

print('проверка на гомогенность пройдена') if res[1] > 0.05 else print('проверка на гомогенность не пройдена')

проверка на гомогенность пройдена

In [64]:
from scipy.stats import ttest_ind

stat, p = ttest_ind(sw['bmi'], nw['bmi'])
print('средние значения сходны') if p > 0.05 else print('средние значения различны')

средние значения различны

Кубик бросили 600 раз, получили следующие результаты:

<table>
<tr>
<th>N</th>
<th>Количество выпадений</th>
</tr>

<tr>
<td>1</td>
<td>97</td>
</tr>

<tr>
<td>2</td>
<td>98</td>
</tr>

<tr>
<td>3</td>
<td>109</td>
</tr>

<tr>
<td>4</td>
<td>95</td>
</tr>

<tr>
<td>5</td>
<td>97</td>
</tr>

<tr>
<td>6</td>
<td>104</td>
</tr>

</table>

С помощью критерия Хи-квадрат проверить, является ли полученное распределение равномерным.

In [65]:
from scipy.stats import chisquare

data = {
  "Количество выпадений": [97, 98, 109, 95, 97, 104]
}

df = pd.DataFrame(data)
stat, p = chisquare(df['Количество выпадений'])
print('распределение равномерное') if p > 0.05 else print('распределение не равномерное')

распределение равномерное

С помощью критерия Хи-квадрат проверить, являются ли переменные
зависимыми.
Создать датафрейм, используя следующий код.
Использовать функцию scipy.stats.chi2_contingency().
Влияет ли семейное положение на занятость?

In [66]:
data = pd.DataFrame({'Женат': [89,17,11,43,22,1],
                     'Гражданский брак': [80,22,20,35,6,4],
                     'Не состоит в отношениях': [35,44,35,6,8,22]
                     })
data.index = ['Полный рабочий день','Частичная занятость','Временно не работает','На домохозяйстве','На пенсии','Учёба']

from scipy.stats import chi2_contingency

stat, p, c = chi2_contingency(data)[:3]
print('семейное положение не влияет на занятость') if p > 0.05 else print('семейное положение влияет на занятость')
data

семейное положение влияет на занятость

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22